
@media print {
    #js-bingo__box {
        background: none;
        border: 3px solid #FFF;
        box-shadow: 0 0 0 2px #333;
        border-radius: 2rem;
        padding: 0;
    }
    
    .p-bingo {
        &__td {
            background-color: transparent !important;
            background-size: contain;
            // border-radius: 2rem;
            box-shadow: 0 0 0 2px #999;
            
            &.is-done {
                background-color: transparent;
                box-shadow: none;
                background-image: url(../img/paint.webp);
                filter: grayscale(100%);
            }
        }
        
        &__weaponImg {
            filter: none;
        }
        
        &__messageBox {
            display: none;
        }
    }
}
