@charset "UTF-8";

.no-print {
  display: none;
}


#bingo-box div#bingo-card-box {
  background: none;
  border: 3px solid #FFF;
  /* outline: solid 2px #333; */
  box-shadow: 0 0 0 2px #333;
  border-radius: 2rem;
}
#bingo-box div#bingo-card-box .td {
  background: none;
  background-size: contain;
  border-radius: 2rem;
  box-shadow: 0 0 0 2px #999;
}
#bingo-box div#bingo-card-box .td.done {
  box-shadow: none;
  background-image: url(./images/paint.png);
}