@charset "UTF-8";

/** フォント設定 **/
@font-face {
  font-family: Splatoon2;
  src:
    /* url('./font/s2font.woff2') format('woff2'),
    url('./font/s2font.woff') format('woff'), */
    url('./font/s2font.ttf') format('truetype');
}


/** 基本設定 **/
html {
  font-size: 100%;
}
body {
  width: 100%;
  font-size: 1.5rem;
  font-family: Splatoon2, sans-serif;
  color: #555555;
  background-color: rgba(0,0,0,0);
  -webkit-print-color-adjust: exact;
}
body, h1 {
	margin: 0;
	padding: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.clearfix::after {
  content:'';
  display:block;
  clear:both;
}
#contents {
  width: 90%;
  max-width: 95vmin;
  margin: 0 auto 50px;
}
body.green {
  background-color: #00FF00;
}


/* タイトル */
h1 {
  font-size: 2.8rem;
  font-weight: normal;
}


/* 設定メニュー */
#settings {
  font-size: 1.5rem;
  padding: 10px;
  
}
#settings label {
  display: block;
  float: left;
  width: 4rem;
  height: 2rem;
  line-height: 2.5rem;
}
#settings label.label_c {
  width: auto;
}
#settings select {
  float: left;
	color: #555555;
	font-size: 1.2rem;
	font-family: Splatoon2;
  height: 2.5rem;
  line-height: 2.5rem;
}
button {
  display: block;
	font-size: 1.5rem;
	font-family: Splatoon2;
  margin: 20px 0;
  padding: 0.5rem;
  width: 100%;
  min-width: 10rem;
  line-height: 2rem;
  border: 4px #555 solid;
  border-radius: 2rem;
  background: #555;
  color: #FFF;
}
.checktitle {
  padding-left: 1.8rem;
  position: relative;
}
.checktitle::before {
  background-color: white;
  border: 1px solid #555;
  border-radius: 0.3rem;
  content: "";
  display: block;
  position: absolute;
  top: 25%;
  left: 0;
  height: 1.4rem;
  width: 1.4rem;
}
input.check {
  display: none;
}
input.check:checked + .checktitle::before{
  background-color: #555;
}
input.check:checked + .checktitle::after{
  border-bottom: 4px solid #EEE;
  border-right: 4px solid #EEE;
  content: "";
  display: block;
  position: absolute;
  top: 28%;
  left: 0.4rem;
  height: 0.9rem;
  width: 0.5rem;
  transform: rotate(40deg);
}


/** ビンゴカード **/
#bingo-card-box {
  /* position: relative; */
  width: 100%;
  border-radius: 5%;
}
.salmonrun #bingo-card-box {
  background-image: url('images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #FFF;
  /* outline: solid 2px #333; */
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, .2), 0 0 0 2px #333;
}
.battle #bingo-card-box {
  background-image: url('images/background2.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #FFF;
  /* outline: solid 2px #333; */
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, .2), 0 0 0 2px #333;
}
.salmon-orange #bingo-card-box {
  background-image: url('images/background3.png');
  background-repeat: repeat;
  border: 3px solid #FFF;
  /* outline: solid 2px #333; */
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, .2), 0 0 0 2px #333;
}
.ikatako #bingo-card-box {
  background-image: url('images/background4.png');
  background-repeat: repeat;
  border: 3px solid #FFF;
  /* outline: solid 2px #333; */
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, .2), 0 0 0 2px #333;
}
/* #bingo-card-box::before {
  content: "";
  display: block;
  padding-top: 100%;
} */
#bingo-card-table {
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* table-layout: fixed; */
  width: 100%;
  /* height: 100%; */
  aspect-ratio: 1 / 1;
  /* padding: 3%; */
  /* border-spacing: 0.4em; */
  /* border-spacing: 10px; */
  /* display: flex; */
}
#bingo-card-table .tr {
  /* flex-direction: column; */
  display: flex;
  margin: 1% 0 0 1%;
}
#bingo-card-table .td {
  /* position: relative; */
  flex-direction: row;
  background: rgba(255, 255, 255, .8);
  border-radius: 30%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* aspect-ratio: 1 / 1; */
  /* width: 100%; */
  /* width: 100px; */
  /* height: 100px; */
  /* margin: 0; */
  margin: 0 1% 0 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  /* overflow: hidden; */
}
.transparent #bingo-card-box .td {
  background: rgba(0, 0, 0, .9);
  border-radius: 100%;
  background-size: contain;
}
.green #bingo-card-box .td {
  background: rgba(0, 0, 0, 1);
  border-radius: 100%;
  background-size: contain;
}
#bingo-card-table .td img {
  width: 100%;
  /* height: 100%; */
  margin: 0;
  padding: 0;
  vertical-align:top;
  /* position: absolute;
  top: 0;
  left: 0; */
}
#bingo-card-table .td.done {
  background-image: url(./images/paint.png);
  background-color: rgba(0, 0, 0, .8);
}
.transparent #bingo-card-box .td.done, .green #bingo-card-box .td.done {
  background-color: rgba(0, 0, 0, 0);
}
#bingo-card-table .td.bingo {
  background-image: url(./images/paint.png);
  background-color: #ff2900;
}
.transparent #bingo-card-box .td.bingo, .green #bingo-card-box .td.bingo {
  background-image: url(./images/paint_bingo.png);
}
.transparent #bingo-card-box .td.bingo img {
  filter: grayscale(0%);
}
#bingo-card-table .td.done img, #bingo-card-table .td.bingo img {
  filter: grayscale(100%);
}
#bingo-card-table .td.reach {
  background-color: rgba(255, 218, 8, 0.7);
}
.green #bingo-card-table .td.reach {
  background-color: rgba(255, 218, 8, 1);
}


/** メッセージ **/
#bingo-message {
  text-align: center;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-top: 20px;
  /* margin-bottom: 20px; */
  height: 6rem;
}
#is-bingo-message {
  color: #000;
  background-color: rgba(255, 100, 100, .7);
  width: 100%;
}
.green #is-bingo-message {
  background-color: rgba(255, 100, 100, 1);
}
#is-reach-message {
  color: #FFF;
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
}
.green #is-reach-message {
  background-color: rgba(0, 0, 0, 1);
}


/** tools-footer **/
#tools-footer {
  display: flex;
}
#tools-footer button {
  font-size: 1.4rem;
  line-height: 1.7rem;
  margin: 1rem;
}


/** 画像保存 **/
#save-img-area {
  padding: 1px;
  /* margin-top: 50px; */
  width: 1080px;
}
#save-img-area div#bingo-card-box.saved-card {
  /* width: 1080px !important; */
  /* border-radius: 0 !important; */
  /* background-size: 100% 100%; */
  /* background:rgba(255, 100, 100, .7) !important; */
  box-shadow: none;

}
/* .transparent #save-img-area div#bingo-card-box.saved-card, .green #save-img-area div#bingo-card-box.saved-card {
  box-shadow: none;
} */


#footer {
	color: #999;
	margin-top: 80px;
	font-size: 1rem;
  text-align: right;
}