@media print{
    body {
        background: transparent;
    }
    header, main {
        background: transparent;
        color: #000;
        box-shadow: none;
    }
    .c-no-print {
        display: none !important;
    }
    
    #p-bingo-box div#p-bingo-card-box {
        background: none;
        border: 3px solid #FFF;
        box-shadow: 0 0 0 2px #333;
        border-radius: 2rem;
        
        .p-tr >div {
            background-color: transparent;
            background-size: contain;
            border-radius: 2rem;
            box-shadow: 0 0 0 2px #999;
            
            &.is-done {
                background-color: transparent;
                box-shadow: none;
                background-image: url(../img/paint.webp);
                filter: grayscale(100%);
            }
            
            > span {
                background-color: transparent;
                color: #000;
                text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
                            -1px 1px 0 #FFF, 1px -1px 0 #FFF,
                            0px 1px 0 #FFF,  0 -1px 0 #FFF,
                            -1px 0 0 #FFF, 1px 0 0 #FFF;
            }
        }
    }
}
