@charset "UTF-8";

/** フォント設定 **/
@font-face {
    font-family: Splatoon2;
    src: url("../font/s2font.ttf") format("truetype");
}


/** テーマ設定 **/
$schemes: light, dark, 'green', 'transparent';
$default-scheme: light;
$scheme-colors: (
    main:        (#FE6345, #FE6345, #00FF00, #FE6345),
    accent:      (#098264, #098264, #098264, #098264),
    disable:     (#999999, #999999, #999999, #999999),
    border:      (#CCCCCC, #CCCCCC, #CCCCCC, #CCCCCC),
    txt:         (#555555, #EEEEEE, #555555, #555555),
    txt-on-main: (#EEEEEE, #EEEEEE, #EEEEEE, #EEEEEE),
    txt-link:    (#9e3621, #9e3621, #9e3621, #9e3621),
    bg:          (#FFFFFF, #222222, #00FF00, #FFFFFF),
    bg-front:    (#ECECEC, #333333, #00FF00, #FFFFFF),
    bg-back :    (#ECECEC, #111111, #00FF00, #FFFFFF),
    btn:         (#db482a, #db482a, #db482a, #db482a),
    btn-txt:     (#EEEEEE, #EEEEEE, #EEEEEE, #EEEEEE),
    btn-active:  (#914333, #914333, #914333, #914333),
    btn-disable: (#DDDDDD, #333333, #DDDDDD, #DDDDDD),
);

@mixin themes($scheme) {
    @each $name, $colors in $scheme-colors {
        $color: nth($colors, index($schemes, $scheme));
        $r: red($color);
        $g: green($color);
        $b: blue($color);
        --#{$name}-color: #{$color};
        --#{$name}-rgb-color: #{$r, $g, $b};
    }
}

@each $scheme in $schemes {
    @if $scheme == dark or $scheme == light {
        @media (prefers-color-scheme: #{$scheme}) {
            body {
                @include themes($scheme);
            }
        }
    }
    
    body.theme-#{$scheme} {
        @include themes($scheme);
    }
}
