@use '../global' as g;

.l-nav {
    @include g.mq('sp') {
        right: 100%;
        
        opacity: 0;
        transition: opacity 0.2s;
        pointer-events: none;
        &.js-is_active {
            right: 0;
            
            // backdrop-filter: blur(g.$menu_blur);
            animation: menu_bar forwards 0.4s ease;
            opacity: 1;
            pointer-events: auto;
        }
    }
}
